<%images = []%>
<%session[:game].board.state.each do |position|%>
  <%if position.is_a?Integer%>
    <%images.push("")%>
  <%elsif position == "X"%>
    <%images.push("x.png")%>
  <%elsif position == "O"%>
    <%images.push("o.png")%>
  <%end%>
<%end%>
<div style="display: none;" id="submitBtn" data="<%= session[:compVScomp] %>">
  <form action="play_game" method="get">
   <input type="submit" value="Next Move">
  </form>
</div>

<div class="flex-container">
  <div class="grid-container" style="display: grid;grid-gap: 1rem;grid-template-columns: repeat(<%=session[:game].board.size%>, 1fr);grid-template-rows: repeat(<%=session[:game].board.size%>,1fr);">
    <% for space_count in (0...images.length) %>
      <div class="grids" id="<%=space_count%>" onclick="playerMove(<%= space_count %>)">
        <% if images[space_count] == "" %>
        <% else %>
        <img src="<%= images[space_count] %>" style="width:80%;height:80%;padding-top: .5rem;">
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  if(submitBtn.getAttribute('data') == "true") {
    console.log("jdfasdfadfoiafioaf");
    submitBtn.style.display = "block"; 
    console.log(submitBtn.style.display);
  };
</script>


<script>
  function playerMove(current_move) {
    var just_played = "human"
    window.location = "/play_game?current_move=" + current_move + "&just_played=" + just_played;
  }
</script>

