<%images = []%>
<%session[:game].board.state.each do |position|%>
  <%if position.is_a?Integer%>
    <%images.push("blank.jpg")%>
  <%elsif position == "X"%>
    <%images.push("x.png")%>
  <%elsif position == "O"%>
    <%images.push("o.png")%>
  <%end%>
<%end%>



<% quips = ["Think OUTSIDE the box!", "You are a Tic Tac Toe MASTER!!!", "May the FORK be with you!", "Be the board!", "Take no prisoners!!!", "You are ROCKING it!!", "Hello...Play in a blank space!", "It's YOUR turn Dude!", "Something to prove?  Make a move!!!"]%>


<h2><%=session[:game].current_player.name%>: It's your turn.</h2>
<h2><%=quips.sample%></h2>

  <div class="container" style="display: grid;grid-gap: 1rem;grid-template-columns: repeat(<%=session[:game].board.size%>, 1fr);grid-template-rows: repeat(<%=session[:game].board.size%>,1fr);">
    <% for space_count in (0...images.length) %>
      <div class="grids" id="<%=space_count%>" onclick="playerMove(<%= space_count %>)">
        <img src="<%= images[space_count] %>" style="width:100%;height:100%;">
      </div>
    <% end %>
  </div>



<script>
  function playerMove(current_move) {
    var just_played = "human"
    // function getUrlVars() {
    //     var vars = {};
    //     var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
    //         vars[key] = value;
    //     });
    //     return vars;
    // }

    // var player1_name = getUrlVars()["player1_name"];
    // console.log(player1_name);
    // var player2_name = getUrlVars()["player2_name"];
    // var difficulty = getUrlVars()["difficulty"];


    window.location = "/play_game?current_move=" + current_move + "&just_played=" + just_played;
  }
</script>