 <script>
  function unclickSpaces() {
    document.querySelectorAll('.grids').forEach(function(space){
      space.onclick = null;
    });
  }
  </script>

<%images = []%>
<%session[:board].state.each do |position|%>
  <%if position.is_a?Integer%>
    <%images.push("black.png")%>
  <%elsif position == "X"%>
    <%images.push("x.png")%>
  <%elsif position == "O"%>
    <%images.push("o.png")%>
  <%end%>
<%end%>
<div class="page">
  <% if session[:compVScomp] == true %>
    <div style="display: block;" id="submitBtn" data="<%= session[:compVScomp] %>">
      <form action="play_game" method="get">
       <input type="submit" value="Next Move">
      </form>
    </div>
  <% end %>
<div class="flex-container">
  <div class="grid-container" style="display: grid;grid-gap: .5vw;grid-template-columns: repeat(<%=session[:board].size%>, 1fr);grid-template-rows: repeat(<%=session[:board].size%>,1fr);">
    <% for space_count in (0...images.length) %>
      <div class="grids" id="<%=space_count%>" onclick="playerMove(<%= space_count %>)">
        <% if images[space_count] == "" %>
        <% else %>
        <img src="<%= images[space_count] %>" style="width:70%;height:70%;padding-top: 2vw;">
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>


<% if session[:compVScomp] == true %>
  <script> unclickSpaces() </script>
<% end %>


<script>

  function playerMove(current_move) {
    var just_played = "human"
    window.location = "/human_move?current_move=" + current_move + "&just_played=" + just_played;
  }
</script>

