



<%images = []%>
<%session[:game].board.state.each do |position|%>
  <%if position.is_a?Integer%>
    <%images.push("")%>
  <%elsif position == "X"%>
    <%images.push("x.png")%>
  <%elsif position == "O"%>
    <%images.push("o.png")%>
  <%end%>
<%end%>

<div class="flex-container">
  <div class="grid-container" style="display: grid;grid-gap: 1rem;grid-template-columns: repeat(<%=session[:game].board.size%>, 1fr);grid-template-rows: repeat(<%=session[:game].board.size%>,1fr);">
    <% for space_count in (0...images.length) %>
      <div class="grids" id="<%=space_count%>" onclick="playerMove(<%= space_count %>)">
        <% if images[space_count] == "" %>
        <% else %>
        <img src="<%= images[space_count] %>" style="width:80%;height:80%;padding-top: .5rem;">
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div id="winModal" class="modal">
  <div class="modal-content">
    <h1><%= session[:message1] %></h1>
    <h1>The score is:</h1>
    <h1><%=session[:game].player1.name%>: <%=session[:game].player1.score%></h1>
    <h1><%=session[:game].player2.name%>: <%=session[:game].player2.score%></h1>

    <form class="" action="again" method="get">
      <input type="submit" name="" value="Play Again">
    </form>

    <form class="" action="/" method="get">
      <input type="submit" name="" value="Start Over">
    </form>
  </div>

</div>

<script>
var modal = document.getElementById('winModal');

function openModal() {
    modal.style.display = "block";
}
</script>

<body onload="openModal()">






